<div class="container">
  <div class="row d-flex justify-content-end m-3">
    <div class="col-1">
    <button mat-raised-button color="warn" (click)="signOut()"> sair</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8 " style="margin: 30px auto">
      <mat-card mat-elevation-z8>
        <mat-card-title>Acessar Crud</mat-card-title>
        <mat-card-subtitle>crud diretamente no DynamoDB</mat-card-subtitle>
        <mat-card-content>
          <button mat-raised-button color="primary" [routerLink]="['/get']">crud</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
