<div class="background"></div>
<mat-progress-bar *ngIf="authService.loading" color="primary" mode="indeterminate" style="position:  absolute; top: 0"></mat-progress-bar>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 login">
      <mat-card>
        <mat-card-title class="text-center p-4">Login</mat-card-title>
        <mat-divider></mat-divider>

        <form [formGroup]='loginForm' action="submit" (ngSubmit)="login()" *ngIf="status == 0">
          <div class="container">
            <div class="row pt-4">
              <mat-form-field>
                <input type="email" matInput formControlName="email" placeholder="E-Mail" [autofocus]="true" autocomplete="off"/>
                <mat-error>E-mail Obrigatório</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Senha" [autofocus]="true"/>
                <mat-error>Senha Obrigatória</mat-error>
              </mat-form-field>
              <p *ngIf="authService.errorCode != ''">{{authService.errorCode}}</p>
              <div class="col d-flex justify-content-center " >
              <button class="m-2 order-1" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()"> entrar</button>
              <button class="m-2" mat-raised-button color="accent" (click)="status = 1">Inscrever-se</button>
              </div>
              <a  class="p-2" href="">Esqueci minha senha</a>
            </div>
          </div>
        </form>

        <form [formGroup]='newUserForm' action="submit" *ngIf="status == 1 && !authService.inConfirmation">
          <div class="container">
            <div class="row pt-4">
              <div class="div d-flex justify-content-between">

                <mat-form-field style="width: 45%!important;">
                  <input type="text" matInput formControlName="name" placeholder="Nome" [autofocus]="true" autocomplete="off"/>
                  <mat-error>Nome Obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 50%!important;">
                  <input type="text" matInput formControlName="lastname" placeholder="Sobrenome" [autofocus]="true" autocomplete="off"/>
                  <mat-error>Sobrenome Obrigatório</mat-error>
                </mat-form-field>

              </div>
              <mat-form-field>
                <input type="email" matInput formControlName="email" placeholder="E-Mail" [autofocus]="true" autocomplete="off"/>
                <mat-error>E-mail Obrigatório</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Senha" [autofocus]="true"/>
                <mat-error>Senha Obrigatória</mat-error>
              </mat-form-field>
              <p *ngIf="authService.errorCode != ''">{{authService.errorCode}}</p>
              <div class="col d-flex justify-content-center ">
                <button class="m-2" mat-raised-button color="primary" (click)="signUp()" [disabled]="loginForm.invalid"> entrar</button>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]='confirmForm' action="submit" (ngSubmit)="login()" *ngIf="authService.inConfirmation">
          <div class="container">
            <div class="row pt-4">
              <mat-form-field>
                <input type="text" matInput formControlName="code" placeholder="Código de Confirmação" [autofocus]="true" autocomplete="off"/>
                <mat-error>E-mail Obrigatório</mat-error>
              </mat-form-field>
              <p *ngIf="authService.errorCode != ''">{{authService.errorCode}}</p>
              <div class="col d-flex justify-content-center " >
                <button class="m-2" mat-raised-button color="accent" (click)="confirmSignUp()">confirmar</button>
              </div>
            </div>
          </div>
        </form>

      </mat-card>
    </div>
  </div>
</div>
