<div class="container mt-5">
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" [routerLink]="['/get']">voltar</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <form [formGroup]='insertItem' action="submit" (ngSubmit)="submit()">
      <div class="container">
        <div class="row p-5">
          <mat-form-field>
            <input type="text" matInput formControlName="name" placeholder="Nome" [autofocus]="true" appLowerCase/>
            <mat-error>o nome é obrigatório</mat-error>
            </mat-form-field>
          <mat-form-field>
            <input type="text" matInput formControlName="description" placeholder="Descrição" [autofocus]="true"
                   appLowerCase/>
            <mat-error>a descrição é Obrigatória </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="insertItem.invalid "> inserir</button>
        </div>
      </div>
    </form>
  </div>
</div>
